body[data-theme='light'] {
  background-color: #FAFAFA !important;
  color: #212121 !important;
}
body[data-theme='light'] header,
body[data-theme='light'] .hello input,
body[data-theme='light'] footer,
body[data-theme='light'] .command-bar input {
  color: #212121 !important;
}
body[data-theme='light'] .command-area,
body[data-theme='light'] .settings-menu {
  background-color: #FAFAFA;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  background-color: #212121;
  margin: 0px;
  padding: 8px 16px;
  height: 100vh;
  box-sizing: border-box;
}

header, footer {
  opacity: 0;
  transition: opacity 1s ease-in;
}

header.active,
footer.active {
  opacity: 1;
}

header {
  height: 50px;
  font-size: 20px;
  color: #fff;
}

section {
  min-height: calc(100vh - 116px);
}

footer {
  height: 50px;
  color: #fff; 
}

.time {
  float: right;
}

.hello {
  float: left;
}

.hello input {
  background-color: inherit;
  border: none;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  outline: none;
  width: 223px;
}

.command-area {
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;

  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  height: 350px;
  width: 600px;
  background-color: #232323;
  border-radius: 16px;
  padding: 16px;

  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  

  -webkit-transform: scale(0);
  -webkit-transform-origin: center bottom 0px;

  -webkit-transition: transform 0.75s cubic-bezier(.25,.8,.25,1) 0.25s, 
                      box-shadow 0.3s cubic-bezier(.25,.8,.25,1);

}

header.active + section .command-area {
  -webkit-transform: scale(1);
}

.command-area:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.command-area a {
  color: #09f;
}

.command-list {
  height: 334px;
  overflow-y: scroll;
  word-wrap: break-word;
  color: rgba(250, 250, 250, 0.7);
}

.command-list .command {
  width: 100%;
  font-weight: 700;
}

.command-list .response {
  white-space: pre-wrap;
  font-weight: 700;
}

.command-bar {
  display: flex;
  height: 16px;
}

.command-bar i {
  color: #18ffff;
  justify-content: flex-start;
  margin-top: 2px;
  -webkit-animation: opacity 2s linear 0s infinite;
  animation: opacity 2s linear 0s infinite;
}

.command-bar input {
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  background-color: transparent;
  border: none;
  margin-left: 8px;
  justify-content: flex-end;
  width: 100%;
}

.command-bar input:focus {
  outline: none;
}

.command-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.command-list::-webkit-scrollbar {
  width: 4px;
}

.command-list::-webkit-scrollbar-thumb {
  background-color: #18ffff;
}

.command-list .command.success {
  color: #0fa;
}

.command-list .command.error {
  color: #f07;
}

.command-list .response.error {
  color: rgba(0,0,0,0.6);
}

.settings-button {
  font-size: 20px; 
  float: right; 
  cursor: pointer; 
  margin-top: 20px;
}

.settings-menu {
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 1000;
  background-color: #232323;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -webkit-transform-origin: right bottom 0px;
  -webkit-transform: scale(0);
}

.settings-menu ul {
  min-width: 160px;
  padding: 5px 0;
  position: relative;
}

.settings-menu.active {
  opacity: 1;
  -webkit-transform: scale(1);
}

.settings-menu li {
  color: #666;
  padding: 0px 0px 5px 15px;
  opacity: 0;
  transform: translateY(-30%);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  list-style: none;
}

.settings-menu li:not(:last-child) {
  padding-bottom: 5px;
}

.settings-menu li:not(:first-child) {
  padding-top: 5px;
}

.settings-menu.active li {
  opacity: 1;
  transform: translateY(0px)
}

.settings-menu li:hover {
  opacity: 0.4
}

.settings-menu li i.locked {
  display: inline;
  color: #FFD740; 
  margin-left: 8px;
}

.settings-menu li i.locked.inactive {
  display: none;
}


.settings-menu hr {
  margin: 0px 12px;
  border: none;
  border-top: 1px solid rgba(0,0,0,0.05)
}

/* Keyframes */

@-webkit-keyframes opacity {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

@-o-keyframes opacity {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

@-moz-keyframes opacity {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes opacity {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

/* Media queries */

@media only screen and (max-width: 650px) {
  .command-area {
    width: 400px !important;
  }
}

@media only screen and (max-width: 450px) {
  .command-area {
    width: 300px !important;
  }
}

@media only screen and (max-height: 450px) {
  .command-area {
    height: 250px !important;
  }
  .command-list {
    height: 234px !important;
  }
}

@media only screen and (max-height: 350px) {
  .command-area {
    height: 150px !important;
  }
  .command-list {
    height: 134px !important;
  }
}

@media only screen and (max-height: 250px) {
  .command-area {
    height: 32px !important;
    padding-bottom: 0px !important;
  }
  .command-list {
    display: none;
  }
}